.usersPage {
    padding: 20px;
}

.usersList {
    padding-right: 30px;
    min-height: 600px;
}

.userLogin {
    padding-right: 10px;
}

.userItem {
    padding-bottom: 20px;
    cursor: pointer;
}

.userItem:hover {
    opacity: 0.8;
    color: darkcyan;
}

.usersList_avatar {
    width: 40px;
    height: 40px;
}

.usersBlock {
    display: flex;
    justify-content: center;
}

.userProfile_headline {
    display: flex;
    justify-content: center;
    color: navy;
    font-weight: 600;
}

.userProfile_data {
    background-color: honeydew;
    padding: 10px;
    min-width: 400px;
    min-height: 600px;
}

.tabs {
    display: flex;
    justify-content: left;
}

.tab {
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    color: #282c34;
}

.tab__active {
    background-color: honeydew;
    color: dodgerblue;
}