.search__center {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.search__right {
    margin-bottom: 25px;
}

.search_value {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    color: navy;
}

.text {
    font-size: 20px;
}

.search_input {
    margin-right: 10px;
    max-width: 150px;
}

.error {
    color: red;
}

.error__visible {
    opacity: 1;
}

.error__hide {
    opacity: 0;
}